/*
GOOGLE MAP ANGULAR
*/
[data-map-container]{ position: relative; height:600px;}
[data-google-map]{ width:100%; height:100%; display:block; height:500px;}
[data-google-map] img{ max-width:none;}

/*
GOOGLE MAP ANGULAR INFO WINDOW
*/
[infowindow]{ background:#fff; border-radius:3px; -webkit-box-shadow:0 0 18px rgba(0,0,0,0.2); box-shadow:0 0 18px rgba(0,0,0,0.2); padding:0; max-width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; overflow:hidden;}
[infowindow] .left{ background:#fff; padding:15px;}
[infowindow] .right{ background:#fff; padding:15px;}
[infowindow] [direction-info]{ font-size: 11px;}

/*
GOOGLE MAP ANGULAR STREET VIEW
*/
[street-view-open]{ cursor: pointer; margin-bottom:10px; display: block;}
[street-view-close]{ position:absolute; top:20px; right:20px; font-size:40px; font-weight:600; color:#fff; cursor:pointer; line-height:1; z-index: 2;}
[street-view-close]:hover{ opacity:1;}

/*
GOOGLE MAP ANGULAR AUTO COMPLETE
*/
[auto-complete-container]{ position:absolute; top:65px; left:100px; padding:0;}
[auto-complete-map]{ max-width:100%; -webkit-box-shadow:0 0 18px rgba(0,0,0,.2); box-shadow:0 0 18px rgba(0,0,0,.2); border-radius: 3px; float:none;}
[auto-complete-results-map]{ position: absolute; top:104px; left:100px; padding:0; list-style:none; margin:0;}
[result-item-location]{ background:#fff; padding:9px; cursor:pointer;}
[result-item-location].active{ background-color:#eee;}
/*
GOOGLE MAP ANGULAR ZOOM CONTROL
*/
[zoom-control]{ position:absolute; top:20px; right:20px; font-size: 20px;}
[zoom-control] a{ display: block; cursor: pointer;}

/*
GOOGLE MAP MEDIA QUERIES
*/
@media all and (min-width: 1200px) {
  [data-google-map]{ height: 600px; max-height:600px;}
}
@media all and (min-width: 992px) {
  [infowindow]{ position:absolute; top:104px; left:100px;}
}
@media all and (max-width: 991px) {
  [data-google-map]{ height:400px; max-height:400px;}
}
@media all and (max-width: 767px) {
  [data-google-map]{ height:300px; max-height:300px;}
}